<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tigshop.mapper.salesman.SalesmanMapper">


    <select id="customerList" resultType="com.tigshop.bean.vo.salesman.CustomerListVO">
        SELECT
            u.user_id AS userId,
            u.avatar,
            u.username,
            u.mobile,
            u.nickname,
            u.reg_time AS regTime,
            r.rank_name AS rankName
        FROM
            salesman_customer sc
                INNER JOIN user u ON sc.user_id = u.user_id
                LEFT JOIN user_rank r ON u.rank_id = r.rank_id
        WHERE
            sc.salesman_id = #{filter.salesmanId}
        ORDER BY
            u.reg_time DESC
    </select>
</mapper>
