body.wap {
}

body.wap .main-warp {
  left: 0 !important;
}

body.wap, body.wap .container, body.wap .page-top {
  min-width: auto;
}

body .wap-show {
  display: none;
}

body.wap .wap-show {
  display: block;
}

.wap-hide {
  display: block;
}

body.wap .wap-hide {
  display: none;
}

body.wap .page-top {
  position: relative;
  left: 0;
  z-index: 800;
}

body.wap .top-bar-search-warp {
  display: none;
}

body.wap .page-top-warp {
  border-radius: 0;
  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
}

body.wap .body-menu {
  transform: translateX(-100%);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1010;
  transition: transform .3s cubic-bezier(.7, .3, .1, 1), box-shadow .3s cubic-bezier(.7, .3, .1, 1), -webkit-transform .3s cubic-bezier(.7, .3, .1, 1), -webkit-box-shadow .3s cubic-bezier(.7, .3, .1, 1);
  width: 287px;
}

body.wap .body-menu-mask {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
  z-index: 1000;
  position: fixed;
  transition: all .5s;
  display: none;
}

body.wap .main-menu {
  position: absolute;
  z-index: 9;
}

body.wap .child_warp {
  top: 0;
}

body.wap .child-menu {
  position: absolute;
  border-right: 0;
  box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
}

body.wap .main-layout-box {
  left: 0 !important;
  top: 0;
}

body.wap .main-menu-logo {
}

body.wap .menu-bar-btn {
  display: none !important;
}

body.wap .open-menu-btn {
  padding: 0 20px;
  display: block;
  line-height: 58px;
  cursor: pointer;
  color: #333;
}

body.wap .page-top-warp .wap-refresh-btn {
  padding: 0 20px;
  display: block;
  line-height: 55px;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

body.wap .page-top-warp .wap-openShop-btn {
  padding: 0 20px;
  display: block;
  line-height: 55px;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

body.wap .page-top-warp .clearCache-btn {
  display: none;
}

body.wap .page-top-warp .openShop-btn {
  display: none;
}

body.wap .page-top-warp .wap-clearCache-btn {
  display: block;
}

body.wap .lyecs-nav-scroll {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

body.wap .lyecs-nav-scroll .lyecs-nav-con {
}

body.wap .list-table-tool .list-table-tool-col {
  flex-wrap: wrap;
}

body.wap .list-table-tool .list-table-tool-col > * {
  margin-bottom: 8px;
}

body.wap .list-table-tool .list-table-tool-col input.search-item {
  margin-left: 0;
  margin-bottom: 8px;
  margin-right: 10px;
  max-width: 170px;
}

body.wap .list-table-tool .list-table-tool-col .search-btn.search-btn-spe {
  margin-left: 0;
  border: 0;
  box-shadow: none;
  width: 30px;
  margin-right: 5px;
}

body.wap .list-table-tool .list-table-tool-col .lyecs-btn {
  margin-bottom: 8px;
  margin-right: 8px;
  margin-left: 0;
}

body.wap .list-table-tool .list-table-tool-col .advanced-search-btn {
  word-break: keep-all;
  margin-left: 0;
}

body.wap .list-table-tool .list-table-tool-col .search-btn.search-btn-spe {
  background: #fff;
}

body.wap .list-table-tool .list-table-tool-row {
  flex-wrap: wrap;
}

body.wap .tig-table-list-warp .table-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

body.wap .table-container {
  overflow-x: auto;
}

body.wap .table-container table {
  min-width: 1000px;
}

body.wap .lyecs-layer-warp .lyecs-layer-box {
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 100% !important;
  max-width: 100% !important;
  max-height: 100% !important;
  border-radius: 0;
}

body.wap .layui-layer-title {
  border-radius: 0 !important;
}

body.wap .lyecs-layer-box .layui-layer-content {
  border-radius: 0 !important;
}

body.wap .lyecs-layer .layui-layer-btn {
  border-radius: 0 !important;
}

body.wap .lyecs-form-table > form > table {
  width: 100%;
}

body.wap .lyecs-form-table > form > table > tbody > tr > td {
  display: block;
  padding: 12px 0;
}

body.wap .lyecs-form-table > form > table > tbody > tr > td.label {
  text-align: left;
  padding: 2px 0 2px;
  font-weight: bold;
}

body.wap .goods_tab_bar .tab-item:first-child {
  margin-left: 0;
}

/*业务页面处理*/
body.wap .goods-info-edit-warp {
  width: 100%;
}

body.wap .goods-detail-preview-warp {
  width: 100%;
}

body.wap .lyecs-layer-box .content_wrapper-goods .content_wrapper {
  padding: 20px;
}

body.wap .attr-h3, body.wap .product-warp .product-h3 {
  float: none;
  font-weight: bold;
  text-align: left;
  padding: 2px 0 2px;
  line-height: 30px;
  margin-bottom: 10px;
}

body.wap .attr-list {
  width: 100%;
  float: none;
  box-sizing: border-box;
}

body.wap .attr-warp-box {
  width: 100%;
  float: none;
}

body.wap .product-warp .product-form {
  width: 100%;
  float: none;
  overflow-x: auto;
}

body.wap .batch-update-area {
}

body.wap .gallery_warp {
  height: 100%;
}

body.wap .gallery_warp .lyecs_gallery_box {
  width: 100%;
  height: 100%;
}

body.wap .lyecs_gallery_box .gallery-pic-action {
  box-sizing: border-box;
  padding: 10px 10px;
  width: 100%;
}

body.wap .gallery_warp .lyecs_gallery_box .gallery-folder-warp {
  width: 160px;
}

body.wap .lyecs_gallery_box .gallery-list {
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  height: 100%;
}

body.wap .gallery_warp .gallery-pics-warp {
  height: 100%;
}

body.wap .gallery-list-page {
  width: 100%;
}

body.wap .gallery-pic-action-r > span {
  display: none;
}

body.wap .lyecs_gallery_box .gallery-list ul.gallery-list-ul {
  height: 100%;
}

body.wap .order-common-area ._2n1g {
  flex-wrap: wrap;
}

body.wap .order-common-area ._91cc {
  padding: 0;
  margin-top: 10px;
}

body.wap .lyecs-table-list {
  display: flex;
  flex-wrap: wrap;
  height: auto !important;
}

body.wap .bar-top-item .itme-box {
  margin-right: 0;
  width: 49%;
  margin-bottom: 10px;
  height: 80px;
}

body.wap .bar-top-item .itme-box:nth-child(2n-1) {
  margin-right: 2%;
}

body.wap .bar-top-item .itme-box .data_box {
  padding: 12px;
}

body.wap .chart_data {
  width: 100%;
}

body.wap .store-data-con .content {
  display: flex;
  flex-wrap: wrap;
}

body.wap .lyecs-table-list-admin .store-data-con .index-cell {
  width: 50%;
  border-left: 0 !important;
}

body.wap .lyecs-table-list-admin .store-data-con .index-cell:nth-child(2n) {
  border-left: 1px #f0f2f5 solid !important;
}

body.wap .list-table tr:hover td {
  background: #fff
}

body.wap .statistics-main .info-box {
  width: 50%;
  box-sizing: border-box;
  flex-wrap: nowrap;
  padding: 10px
}

body.wap .statistics-main .info-box .f14 {
  font-size: 12px
}

body.wap .statistics-main .info .sp2 {
  font-size: 18px
}

body.wap .statistics-main .lyecs-nav-scroll .tab-item::before {
  bottom: -1px
}

body.wap .wap-table-action-col .list-table th {
  padding: 22px 8px;
  position: relative;
  color: rgba(0, 0, 0, .85);
  font-weight: 500;
  text-align: left;
  background: #F5F6FA;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #f0f0f0;
  transition: background .3s ease;
}

body.wap .wap-table-action-col .list-table td {
  border-bottom: 1px solid #f0f0f0;
  transition: background .3s;
  padding: 15px 8px;
  border-left: 0;
  border-right: 0;
  text-align: left;
  line-height: 22px;
}


body.wap .login-page-left {
  display: none;
}

body.wap .login-page-right {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}

body.wap .login-page-right .login-title {
  width: auto;
}

body.wap .login-page-right .login-input {
  width: 100%;
  box-sizing: border-box;
}

body.wap .login-page-right .forgot {
  display: none;
}

body.wap .login-page-right .login-form li input.text {
  height: 46px;
}

body.wap .login-page-right .login-form .fm-button {
  height: 50px;
  line-height: 50px;
}

body.wap .login-page-right .captcha_img {
  width: 40%;
}

body.wap .bonus-wrap .card-wrap__container {
  flex-wrap: wrap;
}

body.wap .bonus-wrap .coupon-cards-item {
  width: 48% !important;
  min-width: auto;
  margin: 0;
  box-sizing: border-box;
  margin-bottom: 10px;
}

body.wap .bonus-wrap .coupon-cards-item:nth-child(2n) {
  margin-left: 4%;
}


body.wap .lyecs-table-list-warp {
  position: relative;
}

body.wap .table-container {
  position: relative;
  padding-bottom: 90px;
  margin-bottom: 0;
}

body.wap .wap-table-action-col {
  position: absolute;
  display: block;
  right: 0;
  top: auto;
  box-shadow: -5px 3px 5px 0 rgba(0, 0, 0, .15);
  bottom: 90px;
}

body.wap .wap-table-action-col table {
  width: 100%;
  min-width: 100px !important;
}

body.wap .wap-table-action-col td {
  background: #fff;
}

body.wap .wap-table-action-col {
  transition: opacity .3s;
}

body.wap .wap-table-action-col > :first-child {
  transition: opacity 0.5s;
  position: relative;
}

body.wap .wap-table-action-col table {
  width: 100%;
  border: 0;
  border-radius: 2px 2px 0 0;
  border-collapse: separate;
  text-align: left;
  border-spacing: 0;
  box-sizing: border-box;
  opacity: 0.5s;
}

body.wap .table-container .pagination {
  height: 60px;
  margin: 15px 0;
  position: absolute;
}

body.wap .lyecs-form-table textarea {
  width: 100%;
}


body.wap .user-pro .item {
  width: 100%;
  flex-basis: inherit;
}

body.wap .new-asset-info-container .box-container {
  flex-wrap: wrap;
  height: auto;
}

body.wap .new-asset-info-container .box-container .box-container__block {
  flex: inherit;
  width: 50%;
  text-align: center;
  margin-bottom: 20px;
}

body.wap ::-webkit-scrollbar {
  display: none;
}

body.wap .ps-scrollbar-y-rail {
  display: none !important;
}

body.wap .decoratePgaeWrap {
  display: none;
}

body.wap .decoratePgaeCon .lyecs-table-list-warp {
  width: 100% !important;
}


