.card1 {
    color: #75b06d;
    background: linear-gradient(105.74deg, rgb(117, 176, 109) 19.91%, rgba(117, 176, 109, 0.455) 70.53%, rgb(117, 176, 109) 96.44%), linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255));
}
.card2 {
    color: #47a779;
    background: linear-gradient(105.74deg, rgb(72, 169, 122) 19.91%, rgba(72, 169, 122, 0.455) 70.53%, rgb(72, 169, 122) 96.44%), linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255));
}
.card3 {
    color: #6ab7de;
    background: linear-gradient(105.74deg, rgb(106, 183, 222) 19.91%, rgba(106, 183, 222, 0.455) 70.53%, rgb(106, 183, 222) 96.44%), linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255));
}
.card4 {
    color: #6385bd;
    background: linear-gradient(105.74deg, rgb(99, 133, 189) 19.91%, rgba(99, 133, 189, 0.455) 70.53%, rgb(99, 133, 189) 96.44%), linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255));
}
.card5 {
    color: #9b6fc8;
    background: linear-gradient(105.74deg, rgb(155, 111, 200) 19.91%, rgba(155, 111, 200, 0.455) 70.53%, rgb(155, 111, 200) 96.44%), linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255));
}
.card6 {
    color: #c0996f;
    background: linear-gradient(105.74deg, rgb(192, 153, 111) 19.91%, rgba(192, 153, 111, 0.455) 70.53%, rgb(192, 153, 111) 96.44%), linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255));
}
.card7 {
    color: #eec154;
    background: linear-gradient(105.74deg, rgb(238, 193, 84) 19.91%, rgba(238, 193, 84, 0.455) 70.53%, rgb(238, 193, 84) 96.44%), linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255));
}
.card8 {
    color: #de5850;
    background: linear-gradient(105.74deg, rgb(222, 88, 80) 19.91%, rgba(222, 88, 80, 0.455) 70.53%, rgb(222, 88, 80) 96.44%), linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255));
}
.card9 {
    color: #798795;
    background: linear-gradient(105.74deg, rgb(121, 135, 149) 19.91%, rgba(121, 135, 149, 0.455) 70.53%, rgb(121, 135, 149) 96.44%), linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255));
}
.card10 {
    color: #798795;
    background: linear-gradient(105.74deg, rgb(121, 135, 149) 19.91%, rgba(121, 135, 149, 0.455) 70.53%, rgb(121, 135, 149) 96.44%), linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255));
}
