.info-row {
    margin: 10px 0;
    width: 986px;
}
.info-row a {
    cursor: pointer;
}
.info-row .title-or-tabs .tag-and-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.info-row .title-or-tabs .tag-and-input .tig-font-style {
    font-size: 14px;
}
.info-row .title-or-tabs {
    background: #fff;
    border: 0;
    padding: 16px 20px;
    margin-bottom: 10px;
    display: flex;
}
.info-row .title-or-tabs > span {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    display: inline-block;
}
.info-row .title-or-tabs .collection-list-tag {
    border: 0;
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 20px;
    line-height: 32px;
    font-size: 14px;
    cursor: pointer;
}
.info-row .page-info-body {
    padding: 20px;
    background: #fff;
    border: 0;
    box-sizing: border-box;
}
.info-row .page-info-body .order-title {
    margin: 10px 0;
    background: #f3f3f3;
    height: 42px;
    display: flex;
    align-items: center;
}
.info-row .page-info-body .order-title > .ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 42px;
    font-weight: 600;
    text-align: center;
}
.info-row .img-border {
    border: 1px solid #e8e8e8;
    padding: 1px;
    box-sizing: border-box;
}
.tig-tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tig-tabs .tab {
    margin-right: 30px;
    position: relative;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}
.tig-tabs .tab .sub {
    position: absolute;
    background-color: #e93b3d;
    color: #fff;
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    min-width: 12px;
    padding: 0 3px;
    border-radius: 12px;
    text-align: center;
    top: -5px;
    right: -18px;
}
.tig-tabs .tab > span {
    position: absolute;
    background-color: #e93b3d;
    color: #fff;
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    min-width: 12px;
    padding: 0 3px;
    border-radius: 12px;
    text-align: center;
    top: -5px;
    right: -18px;
}
.tig-tabs .tab:hover {
    color: #e93b3d;
    transition: transform 0.3s;
}
.active {
    color: #e93b3d !important;
    border-bottom: 3px solid #e93b3d !important;
}
.active > a {
    color: #e93b3d !important;
}
/* 步骤条 */
.tig-steps {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
}
.tig-steps .steps-card {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tig-steps .steps-line {
    flex: 1;
    height: 4px;
}
.tig-steps .card-text {
    color: #2abf5c;
    position: absolute;
    width: 200px;
    height: 50px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.extra {
    display: flex;
    color: #999999;
    width: 100%;
    font-size: 12px;
}
.no-result {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    gap: 10px;
}
.no-result .sign {
    background: #fff url("/assets/images/signs.png") no-repeat scroll 0 -150px;
    display: inline-block;
    height: 40px;
    width: 41px;
}
.no-result .tip-message {
    margin-left: 10px;
    line-height: 2;
}
.el-page {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.tig-button {
    background: #f7f7f7;
    border: 1px solid #ddd;
    color: #666;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
    height: 20px;
    line-height: 20px;
    padding: 3px 12px;
    text-align: center;
    text-decoration: none;
}
.red-button {
    background-color: var(--general);
    border: 1px solid var(--general);
    color: white;
}
.big-button {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 218px;
    height: 42px;
    font-size: 16px;
    text-align: center;
}
.ml10 {
    margin-left: 10px;
}
.btnicon {
    background: url("/assets/images/user/sprite-icon.png") no-repeat scroll 0 0;
    display: inline-block;
}
.btnicon3 {
    background-position: 0 -38px;
    height: 18px;
    width: 18px;
}
.btnicon4 {
    background-position: -40px -58px;
    height: 16px;
    width: 18px;
}
.btnicon5 {
    background-position: 3px -78px;
    height: 18px;
    width: 18px;
}
.btnicon10 {
    background-position: 3px -180px;
    height: 16px;
    width: 18px;
}
.btnicon11 {
    background-position: 3px -200px;
    height: 16px;
    width: 18px;
}
